<div class="card">
    <h2 class="businessname">We Develop {{businessName}}</h2>

    <ul>
        <li>Branche{{branche}}</li>
        <li>Ondernemingsgrootte{{size}}</li>
        <li>Ondernemers duur{{length}}</li>
    </ul>

    <h2 class="username">Niels Derksen, 25 {{name}}, {{age}}</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis porro magnam quae tempora ipsum reprehenderit libero ipsam at voluptas soluta magni iusto, repudiandae eius ullam necessitatibus minus facere fugiat accusantium.</p>

</div>





    <div class="buttons">
    <button class="X"></button>
    <button class="V"></button>
    </div>