{{> header}}
<div class="profile-container">

  <h1 class="viewprofile">Your Profile</h1>

  <p class="profilewarning">
    {{message}} <br> <a id="createprof" href="/profile">{{link}}</a>
  </p>

  {{#each profile}}
  <div class="card">
    
    <div class="textoverlay">
    
    <div class="textoverlaytop">
    <div class="nameandbranche">
    <h3 class="businessname">{{businessName}}</h3>
    <h4 class="branche">{{branche}}</h4>
    </div>
    <ul>
        <li>{{size}} <br> werknemers</li>
        <li>{{time}} <br> jaar</li>
    </ul>
    </div>

    <div class="textoverlaybottom">
    <h3 class="username">{{name}}, {{age}}</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis porro magnam quae tempora ipsum reprehenderit libero ipsam at voluptas soluta magni iusto.</p>
    </div>
    </div>
  </div>
  {{/each}}

  <div class="profilebuttons">
    <a href="/editprofile" class="editprofile">edit profile</a>
  </div>



</div>

<script src="/scripts/profile.js"></script>
{{> footer}}